mixin numbered-list(listItems, startIndex)
	.numbered-list
		if (!startIndex)
			each item, index in listItems
				.numbered-list__item
					.numbered-list__marker
						if (index < 9)
							| !{"0" + (index + 1)}
						else
							| !{index + 1}
	
					.numbered-list__description
						| !{item}
			
		else
			each item, index in listItems
				.numbered-list__item
					.numbered-list__marker
						- var counter = index + startIndex
						
						if (counter <= 9)
							| !{"0" + (counter)}
						else
							| !{counter}

					.numbered-list__description
						| !{item}
									
				
					
